.org-ranking-list > a {
    display: inline;
    margin-left: 8vw;
}

.org-ranking-scores {
    display:inline;
    float:right;
    margin-right: 10vw;
}

.org-ranking-names {
    text-decoration: none;
}

.org-ranking-names:hover {
    color: #bf1c54;
}

.org-ranking-list:nth-child(even) {
    background: #f3f3f3;
}

.org-ranking-list {
    padding-top: 20px;
    padding-bottom: 20px;
}
