<div class="page-header" style="margin-bottom: 50px">Greek Organization Rankings</div>

<li *ngFor="let org of orgsList; let i = index" class="org-ranking-list">
    <a href="/org/{{org}}" class="org-ranking-names">{{i + 1}}. {{ org }}
        <p class="org-ranking-scores">{{ scores[org] }} lbs</p>
    </a>
</li>
