<div>
  <div>
    <div style="display: block">
      <canvas baseChart id='user-recycling-chart' style="height: 270px;"
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
        [options]="options">
      </canvas>
    </div>
  </div>
</div>
