<div class="dashboard">
  <div class="page-header" style="margin-bottom: 50px">{{ userService.name }}'s Recycling</div>

  <app-profilegraph [data]="userInfo"></app-profilegraph>
  <app-totalweight [data]="userInfo"></app-totalweight>

  <button class='weigh-button' (click)="!isWeighing ? beginWeigh() : endWeigh()">{{ !isWeighing ? "Begin" : "End" }} Weigh-in</button>
</div>
