.dashboard {
    font-size: 10.25rem;
}
.dashboard > .header {
    margin-top: 10vh;
    margin-bottom: 20px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 22px;
}

.weigh-button {
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 2px;
    border-color: #ff4081;
    color: #ff4081;
    background-color: #fff;

    width:238px;

    border-style:solid;
    border-width: 1px;

    display: block;
    font-size: 20px;
    padding: 10px 50px;
}

.weigh-button:hover {
    border-color: #bf1c54;
    color: #bf1c54;
}

.weigh-button:hover {
    cursor: pointer;
}
