<div class="userpage">
  <div class="page-header">{{(userInfo | async)?.name }}</div>
  <app-profilegraph [data]="userInfo"></app-profilegraph>
  <app-totalweight [data]="userInfo"></app-totalweight>
</div>
