.org-detail-list > a {
    display:inline;
    margin-left: 8vw;
}

.org-detail-name-wrapper {
    margin-top: 20px;
}

.org-detail-scores {
    display:inline;
    float:right;
    margin-right: 10vw;
}

.org-detail-list:nth-child(odd) {
    background: #f3f3f3;
}

.org-detail-list {
    padding-top: 20px;
    padding-bottom: 20px;
}


.org-detail-names {
    text-decoration: none;
}

.org-detail-names:hover {
    color: #bf1c54;
}

.org-detail-list {
    padding-top: 20px;
    padding-bottom: 20px;
}
