<div class="page-header">{{ orgName }}</div>
<app-profilegraph [data]="dataStream"></app-profilegraph>

<div *ngIf="orgName == userService.org" class="org-detail-name-wrapper">
    <li *ngFor="let member of leaderboard; let i = index" class="org-detail-list">
        <a href="/users/{{member.id}}" class="org-detail-names">{{i + 1}}. {{ member.name }}
            <p class="org-detail-scores"> {{ scoreUser(member) }}</p>
        </a>
    </li>
</div>
