<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">GR3EK!</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="['/']">Home</a>
        <a class="mdl-navigation__link" [routerLink]="['/org', userService.org]">My Organization</a>
        <a class="mdl-navigation__link" [routerLink]="['/rankings']">Leaderboards</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">G<span style="color: #ff4081; font-weight: bold;">R3</span>EK!</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['/']">Home</a>
      <a class="mdl-navigation__link" [routerLink]="['/org', userService.org]">My Organization</a>
      <a class="mdl-navigation__link" [routerLink]="['/rankings']">Leaderboards</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
</div>
